

html {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}
body {
	background-image: url("./../images/psychedelic_pattern/psychedelic_pattern.png");
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	position: relative;
	width: 44%;
	float: left;
	margin: 3%;
}

.text-block {
	position: absolute;
	bottom: 20px;
	left: 20px;
	background-color: #424242;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Open Sans', sans-serif;
}

.media img {
width: 25%;
float: left;
padding: 4%;
}

footer {
	background-color: #424242;
	color: #FEFFF1;
	text-align: center;
	padding: 20px 0;

	bottom: 0;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	clear: both;
}

.container img {
	width: 100%;
	margin-bottom: 1%;
}

#Bio {
	width: 650px;
	background-color: white;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	float: left;
	margin: auto;
	padding: .5%;
	border-radius: 2.5%;
}

h2 {
	text-align: center;
}

#content {
	width: 960px;
	margin: auto;
	margin-bottom: 20px;
	overflow: hidden;
	flex: 1 0 auto;
}

#portrait {
	width: 33%;
	position: relative;
	float: left;
	padding-right: 3%;
}

p {
	font-size: larger;
}

header {
	background-color: #424242;
	color: #FEFFF1;
	margin-bottom: 2%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}
nav {
	position: relative;
	float: right;
	width: 33%;
	height: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 5%;
}

li {
	display: inline;
	padding: 5%;
}

h1 {
	float: left;
	position: relative;
	left: 2%;
	background-color: none;
	padding: 8px;
}

#about {
color: #FEFFF1;
}

#portfolio {
	color: #FEFFF1;
	}

#contact {
		color: #FEFFF1;
		}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 2px solid darkslategray;
	margin: 1em 0;
	padding: 0;
}
#medialinks {
	margin: auto;
	position: relative;
	right: 0;
	background-color: white;
	width: 270px;
	float: right;
	padding: .5%;
	border-radius: 2.5%;
}

#medialinks img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#medialinks h3 {
	text-align: center;
}

#examples {
	width: 650px;
	background-color: white;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	float: left;
	margin: auto;
	padding: .5%;
	border-radius: 2.5%;
}

#contactme {
	width: 650px;
	background-color: white;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	float: left;
	margin: auto;
	padding: .5%;
	border-radius: 2.5%;
}

.field {
	width: 100%;
}

textarea { height: auto; }

a {
	color: #FEFFF1;
	text-decoration: none;
}
.navigation {
	background-color: 	;
	padding: 1%;
	padding-right, padding-left: 2.5%;
	border-radius: 15%;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
	#bio { width:67%; }
	#examples { width:67%; }
	#contactme { width:67%; }
	#medialinks { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
	#bio { width:100%; }
	#examples { width:100%; }
	#contactme { width:100%; }
	#medialinks { width:100%; margin:0; border:none; }
	html { width: 100%]}
	body { width: 100%]}
	.container { width: 100%]}
	.text-block { width: 100%]}
	.media { width: 100%]}
	footer { width: 100%]}
	#content { width: 100%]}
	header { width: 100%]}
	nav { width: 100%]}
	
}